apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: ragquery
  labels:
    app: ragquery
    component: frontend
spec:
  type: NodePort
  selector:
    app: ragquery
    component: frontend
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
    protocol: TCP
    name: http
