apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ragquery-data-pvc
  namespace: ragquery
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
